header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid grey;
    padding: 1rem 0rem .5rem 0rem;
    margin-bottom: .5rem;
    .actions-container {
        display: flex;
        align-items: center;
        gap: .75rem;
    }
    a {
        font-size: 1.75em;
        text-decoration: none;
    }
    button {
        font-size: 1.5em;
        border-radius: .5rem;
        border-color: coral;
        padding: .25rem .30rem .15rem .30rem;
    }
    h1 {
        margin: 0;
    }
}
#change-mode-button {
    &[data-value="solar"]:after {
        content: '☀️';
    }
    &[data-value="stellar"]:after {
        content: '🌍';
    }
}
#profile-container {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 1rem;
    scroll-snap-type: y mandatory;
    .timeline-item {
        --radius: .5rem;
        scroll-snap-align: start;
        background-color: white;
        border-radius: var(--radius);
        grid-column-end: span 2;
        display: grid;
        grid-template-columns: subgrid;
        grid-auto-rows: 1fr;
        border: cadetblue solid .1rem;
        padding: 0;
        animation: fadeIn .5s ease-in-out;
        div {
            padding: .5rem .75rem .25rem .75rem;
        }
        .date {
            --radius-inner: calc(var(--radius) - .1rem);
            border-top-left-radius: var(--radius-inner);
            border-bottom-left-radius: var(--radius-inner);
            background-color: cadetblue;
            color: white;
            font-weight: 600;
            align-content: center;
            text-align: center;
        }
        &.today {
            border-color: coral;
            .date {
                background-color: coral;
            }
        }
        &[data-multiple="10000"] {
            box-shadow: -.1rem .2rem .1rem grey;
            .occurence {
                font-weight: 800;
            }
        }
    }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}